html,body {
    height: 100%;
background: radial-gradient(circle farthest-corner at 100px 50px, #FBF2EB, #352A3B);
}

.div-clock {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}

p {
    margin: 0;
    padding: 0;
}

#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: fixed;
    ;
    left: 90%;
    top:7%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    .time {
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
    }
    .date {
        letter-spacing: 0.1em;
        font-size: 24px;
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
    }
}

.div-egg {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 200px;
    height: 270px;
    border-radius: 50%;
    margin: 0 auto;
    background: radial-gradient(circle at 65% 15%, aqua, rgb(56, 184, 152));
    }