<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="clock" class="div-clock">
        <div>
            <p class="date">{{ date }}</p>
            <p class="time">{{ time }}</p>
            <!-- <p class="text">DIGITAL CLOCK with Vue.js</p> -->
        </div>
        <script src="./javascript/clock.js"></script>
    </div>

    <div id="vue">
       <div>
           <h1> {{ message }} </h1>
            <input type="date" v-model="dateSearche">
            <select name="" id="">
                <option value="">Индоутка</option>
                <option value="">Гусь</option>
                <option value="">Утка</option>
                <option value="">Индейка</option>
                <option value="">Курица</option>
                <option value="">Цесарка</option>
                <option value="">Перепёлка</option>
            </select>
        </div>
        
        <div class="div-egg">

        </div>
        <div id="table" class="div-table">
            <table border="1">
                <thead>
                    <th>Дата</th>
                    <th>День</th>
                    <th>Температура</th>
                    <th>Влажность</th>
                    <th>Поворот</th>
                    <th>Проветривание</th>
                </thead>
                <tbody>
                    <tr v-for="">
                        <td>{{  }}</td>
                        <td>{{  }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <script src="./vue/scripts/vue.js"></script>

</body>
</html>